<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <br>
    <a href="/movies"><h2>Listado de Películas</h2></a></p>
    <br>
    <a href="/genres"><h2>Listado de Géneros</h2></a></p>
  </body>
</html>
